body {
  position: relative;
  overflow: hidden;

  width: 100vw;
  height: 100vh;

  margin: 0;

  color: rgba(0,255,255, 1);

  background-image: url('../images/background.jpg');
}

canvas {
  position: absolute;
  top: 0px;
  left: calc(50% - 300px);
}

svg {
  position: absolute;
  top: 0;
  left: calc(50% - 300px);
}

#start, #paused, #game_over {
  display: block;
  box-sizing: border-box;

  position: absolute;
  top: 30%;
  left: calc(50% - 150px);
  z-index: 1;

  font-size: 100px;

  transform: perspective(200px) rotateX(-15deg);
}

.hidden {
  visibility: hidden;
}

.shroud {
  opacity: 0.75;
}

#tronGame, #svg {
  transform: perspective(200px) rotateX(15deg);
}

#directions {
  position: absolute;
  top: 30%;
  right: 5%;

  width: 200px;
  height: 150px;

  font-size: 20px;
}

#directions img[alt="WASD"], img[alt="Arrow"] {
  width: 75px;
  height: auto;
}

#directions img[alt="Space"] {
  width: 150px;
  height: auto;
}
